.heap {
    position: relative;
    width: calc(var(--heap-width) + var(--address-padding) + var(--scrollbar-padding));
    height: 100%;

    &__container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        border-top: none;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: var(--scrollbar-width);
        }
          
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-thumb:hover {
            background: transparent;
        }

        &.overflowing {
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
              
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            } 
        }
    }

    &__border {
        position: absolute;
        top: 50%;
        left: -3px;
        width: calc(var(--heap-width) - var(--scrollbar-width) + 6px);
        transform: translate(calc(var(--address-padding)), -50%);
        height: calc(85% + 3px);
        border: 6px solid white;
        border-top: none;
        pointer-events: none;
        border-radius: 0 0 10px 10px;
    }

    .block {
        &--bottom {
            width: 100%;
            background: white;
            min-height: 20px;
            margin-right: var(--scrollbar-padding);
            border-radius: 0 0 10px 10px;
        }

        &__container {
            width: calc(100% - var(--address-padding) - var(--scrollbar-padding));
            margin-right: var(--scrollbar-padding);
        }

        &__wrapper {
            position: relative;
            width: 100%;
        }

        &__address {
            position: absolute;
            font-size: 11px;
            transform: translateX(-120%) translateY(-50%);
            left: -10px;

            &--top {
                top: 0%;
            }

            &--bot {
                top: 100%;
            }
        }

        &__info {
            position: relative;
            display: flex;
            flex-direction: column;
            background: var(--block-color);
            width: 100%;
            height: 100%;
            padding: 15px 0 15px 15px;

            p {
                color: #555;

                &:first-of-type {
                    color: #333;
                    font-weight: 700;
                }
            }
        }

        &__control-struct {
            position: relative;
            background: var(--struct-color);
            display: grid;
            place-items: center center;
            border-bottom: 1px solid #222;

            p {
                color: #555;
            }
        }

        &__fence {
            position: relative;
            background: var(--fence-color);
            display: grid;
            place-items: center center;
            height: 20px;

            p {
                color: #777;
            }

            &--second {
                border-top: 1px solid #222;
            }
        }
        
        &__fence--freed {
            position: relative;
            background: var(--block-color);
            height: 20px;
        }
    }
}