:root {
    --background-color: #111111;

    --block-color: #cfcfcf;
    --fence-color: #acacac;
    --struct-color: #888888;

    --heap-width: 300px;
    --address-padding: 100px;
    --scrollbar-padding: 20px;
    --scrollbar-width: 8px;
}